<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/vendor/angular/angular.js"></script>
		<script type="text/javascript" 
			src="/vendor/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" 
			src="/vendor/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/vendor/toastr/toastr.js"></script>

		<script type="text/javascript" src="/app/app.js"></script>
		<script type="text/javascript" src="/app/mainController.js"></script>
		<script type="text/javascript" src="/app/loginController.js"></script>
        <script type="text/javascript" src="/app/identity.js"></script>
        <script type="text/javascript" src="/app/notifier.js"></script>
        <script type="text/javascript" src="/app/auth.js"></script>

        <link rel="stylesheet" type="text/css" href="/vendor/toastr/toastr.css" />
		<link rel="stylesheet" type="text/css" href="/css/site.css" />
	</head>
	<body ng-app='app'>

		<div ng-controller='LoginController'>		
			<div ng-include="'/partials/login.html'">
			</div>
		</div>

		<h1><%= mongoMessage %></h1>
		<div ng-view></div>
	</body>
</html>