<form ng-hide="identity.isAuthenticated()">
	<input type="text" placeholder="Email" ng-model="username" />
	<input type="password" placeholder="Password" ng-model="password" />
	<button ng-click="signin(username, password)">Login</button>
</form>